/*!Main*/

main{
    width: 1920px;
    background-color: Background="#303042";
}

main .login-section{
    width: 800px;
    height: 450px;
    border-radius: 8px;
    background-color: #1F1F2B;
    box-shadow: 0 0 100px #1F1F2B;
}

main .login-section .login-left-img{
    width: 450px;
    height: 450px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    object-fit: fill;
}

/*!Main End*/